
<div class="footer">
  <div class="linkSocial">
    <div class="logo">
      <img height="33px" width="33px" src="/img/ic-logo.png" alt="icon logo" />
      <p>Autoface</p>
    </div>
    <div class="linkSocialItem" style="align-items: center;">
      <p class="copyright">Copyright @ 2024</p>

      <ul>

        <p>
          <% if(cookies.lang=='vi' ){ %>
            <a href="https://autofaces-organization.gitbook.io/huong-dan-su-dung-autoface">
              <%= __('Document')%>
            </a>
        </p>
        <% } else { %>
          <a href="https://autofaces-organization.gitbook.io/autoface-documents-en/">
            <%= __('Document')%>
          </a></p>
          <% } %>
            <p><a href="/term-of-service">
                <%= __('Terms of service')%>
              </a></p>
            <p><a href="/private-policy" style="margin-left: 2px">
                <%= __('Privacy policy')%>
              </a></p>
            <p><a href="/refund-policy" style="margin-left: 2px">
                <%= __('Refund policy')%>
              </a></p>
      </ul>
      <% if(cookies.lang=='vi' ){ %>
        <div class="img">
          <img src="/img/icon_youtube.png" alt="icon youtube" onclick="navigateToSocialVN('youtube')" />
          <img src="/img/icon_facebook.png" alt=" icon facebook" onclick="navigateToSocialVN('facebook')" />
          <img src="/img/icon_X.png" alt="icon X" onclick="navigateToSocialVN('twitter')" />
        </div>
        <% } else{ %>
          <div class="img">
            <img src="/img/icon_youtube.png" alt="icon youtube" onclick="navigateToSocial('youtube')" />
            <img src="/img/icon_facebook.png" alt=" icon facebook" onclick="navigateToSocial('facebook')" />
            <img src="/img/icon_X.png" alt="icon X" onclick="navigateToSocial('twitter')" />
          </div>
          <% } %>
    </div>
  </div>
  <div class="article">
    <div class="article_item">
    </div>
  </div>
</div>
<script>
  // Chuyển hướng sang /download
  function navigateToSocial(type) {
   
    if (type == 'facebook') {
      window.location.href = 'https://www.facebook.com/autoface.io';
    } else if (type === 'youtube') {
      window.location.href = 'https://www.youtube.com/channel/UC5iUsx3xHSQV97mp6g4-pIg';
    } else if (type === 'twitter') {
      window.location.href = 'https://twitter.com/Autoface2024'
    }
  }

  function navigateToSocialVN(type) {
   if (type == 'facebook') {
     window.location.href = 'https://www.facebook.com/autoface.io';
   } else if (type === 'youtube') {
     window.location.href = 'https://www.youtube.com/@AutoFace-VN';
   } else if (type === 'twitter') {
     window.location.href = 'https://twitter.com/Autoface2024'
   }
 }
</script>