<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
</head>

<body>
  <div id="containerDownload">
    <header><%- include ('../partials/header') %></header>
    <main>
      <div class="downloadContent">
        <span class="available">
          <%= __('AVAILABLE FOR')%> <span class="windows">
              <%= __('WINDOWS')%>
            </span>
        </span>
        <h1 class="autoface">FACEBOOK AUTOMATION</h1>
        <button class="btnDown" onclick="navigateToLinkDownload()">
          <%= __('DOWNLOAD')%> <img src="/img/icon_downloadWhite.png" alt="icon download" />
        </button>
        <div class="hr"></div>
        <h1 class="work"><img src="/img/icon_youtubeRed.png" alt="" />
          <%= __('How it works?')%>
        </h1>
        <div class="video">
          <% if(cookies.lang=='vi' ){ %>
            <iframe src="https://www.youtube.com/embed/YnAXb5REuyY?si=sQqqR5zer-GusZo3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <% } else{ %>
              <iframe src="https://www.youtube.com/embed/hhrxrcLu_oc?si=JaigaOdKOA2Ccxnq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <% } %>
         
        </div>
      </div>
    </main>
    <footer><%- include ('../partials/footer') %></footer>
  </div>
</body>
<script>
  // Chuyển hướng sang /download
  function navigateToLinkDownload() {
    window.location.href = 'https://drive.google.com/file/d/1FfqxY2L3jAYBsNv61b6KkCIEtIZkRLd9/view?usp=sharing';
  }
</script>

</html>