<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
</head>

<body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLMJQGD7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <header><%- include ('../partials/header') %></header>
  <main>
    <div id="about">
      <div class="imgAbout">
        <img src="/img/about.png" alt="about img" />
      </div>
      <div class="aboutContent">

        <span class="titleComponent facebookAuto">FACEBOOK AUTOMATION</span>
        <h1 style="margin-bottom: 0;">
          <%= __('Unleash Earning Power')%>
        </h1>
        <h1 style="color: #0866ff; margin: 0">
          <%= __('Effortlessly')%>
        </h1>
        <p class="detailContent">
          <%= __('Scale your business with multiple Facebook accounts in just a few minutes. Effortlessly expand your business and save substantial time and money, all through the convenience of your computer.')%>
        </p>
        <button class="downNow" onclick="navigateToDownload()">
          <p>
            <%= __('Get started for free, now')%>
          </p>
          <img src="/img/icon_next.png" alt="icon next" />
        </button>
      </div>
    </div>

    <div id="hidemyacc">
      <div class="hidemyaccContent">
        <span class="titleComponent undetectable">
          <%= __('UNDETECTABLE')%>
        </span>
        <h1>Hidemyacc</h1>
        <p class="detailContent">
          <%= __('Based on the best anti-detect browser technology Hidemyacc, Autoface can run unlimited Facebook accounts without being detected.')%>
        </p>
        <button class="downNow" href="https://hidemyacc.com" target="_blank" onclick="navigateToDownload('hidemyacc')">
          <p>
            <%= __('Explore more')%>
          </p>
          <img src="/img/icon_nextBlue.png" alt="icon next" />
        </button>
      </div>
      <div class="imgHidemyacc">
        <img src="/img/hidemyacc.png" alt="hidemyacc img" />
      </div>
    </div>

    <div id="usecase">
      <span class="titleComponent usecaseTitle">
        <%= __('USE CASES')%>
      </span>
      <h1 style="margin: 30px 0px 5px 0;">
        <%= __('What can be done with')%>
      </h1>
      <h1 style="color: #0866ff; margin-top: 0;">Autoface?</h1>
      <div class="imgUsecase">
        <img src="/img/listProfile.png" alt="list profile" />
        <div class="listContentUC">
          <div class="contentUCItem itemfirst">
            <p class="contentTitle">
              <%= __('Manage Unlimited Accounts')%>
            </p>
            <p class="contentUC">
              <%= __('Efficiently manage and run multiple Facebook accounts at the same time using available scripts, ensuring your accounts remain secure without checkpoints')%>
            </p>
            <div class="option">
              <button>
                <%= __('Anti-detected')%>
              </button>
              <button>
                <%= __('Secured')%>
              </button>
            </div>
          </div>
          <div class="contentUCItem itemsecond">
            <p class="contentTitle">
              <%= __('Achieve Marketing Goals')%>
            </p>
            <p class="contentUC">
              <%= __('Guide targeted customers through strategic media messaging to boost brand awareness and influence the purchasing decision-making process.')%>
            </p>
            <div class="option">
              <button>
                <%= __('Farming')%>
              </button>
              <button>
                <%= __('Seeding')%>
              </button>
            </div>
          </div>
          <div class="contentUCItem itemthỉd">
            <p class="contentTitle">
              <%= __('Increase Revenue Streams')%>
            </p>
            <p class="contentUC">
              <%= __('Automatically add new friends and increase engagement on your profile or business fanpage, enabling you to reach with more potential customers and boost visibility on Facebook.')%>
            </p>
            <div class="option">
              <button>
                <%= __('Boost')%>
              </button>
              <button>
                <%= __('Branding')%>
              </button>
            </div>
          </div>
          <div class="contentUCItem itemfour">
            <p class="contentTitle">
              <%= __('Reduce Manual Works')%>
            </p>
            <p class="contentUC">
              <%= __('Simplify your tasks through automation, empowering you to optimize your business operations, save time, and focus on driving growth and innovation')%>
            </p>
            <div class="option">
              <button>
                <%= __('Automation')%>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="instruction">
      <span class="titleComponent usecaseTitle">
        <%= __('INSTRUCTION')%>
      </span>
      <div class="titleIntruction">
        <img src="/img/icon_youtubeRed.png" alt="" />
        <h1>
          <%= __('How it works?')%>
        </h1>
      </div>
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="/img/createScript.png" alt="Anh slide 1" />
            <div class="content">
              <h3>
                <%= __('Create your script')%>
              </h3>
              <h6>
                <%= __('Without coding skill, you can freely create and edit your own automation script on Facebook')%>
              </h6>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/img/automationSetting.png" alt="Anh slide 2" />
            <div class="content">
              <h3>
                <%= __('Automation Settings')%>
              </h3>
              <h6>
                <%= __('Set up the running time, proxy,... as your wish.')%>
              </h6>
            </div>
          </div>
          <!-- <div class="swiper-slide">
            <img src="/img/automationSetting_2.png" alt="Anh slide 2" />
            <div class="content">
              <h3>
                <%= __('Automation Settings')%>
              </h3>
              <h6>
                <%= __('Set up the running time, proxy,... as your wish.')%>
              </h6>
            </div>
          </div> -->
          <div class="swiper-slide">
            <img class="sleepingWell" src="/img/sleepingWell.png" alt="Anh slide 3" />
            <div class="content">
              <h3>
                <%= __('Passive Income')%>
              </h3>
              <h6>
                <%= __('Your job is replaced! Let\'s do something else.')%>
              </h6>
            </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <div class="custom-button-prev"><img src="/img/preSlide.png" alt="" /></div>
        <div class="custom-button-next"><img src="/img/nextSlide.png" alt="" /></div>
      </div>
    </div>

    <div id="freeTrial">
      <h1>
        <%= __('FREE TRIAL')%>
      </h1>
      <p class="profile">
        <%= __('with 50 profiles now !')%>
      </p>
      <button class="downNow" onclick="navigateToDownload()">
        <%= __('Get started for free')%> <img src="/img/icon_nextBlue.png" alt="icon next" />
      </button>
    </div>
  </main>
  <footer><%- include ('../partials/footer') %></footer>
  <!-- Script bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Script swiper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Script main -->
  <script src="/js/main.js"></script>
</body>

</html>